<div class="article">
  <div class="title font">Human Readable Archive Format</div>
  <div class="synopsis">
    <p>I follow a few Google engineers on Twitter and one posted the other day about a spec for a human-readable archive format they designed.</p>
    <p>In this case, I&rsquo;m referring to the <a href="https://github.com/google/hrx">google/hrx</a> specification. It defines a format of an archive that is human-readable, which is something I almost developed myself. So having a specification already existing helped me a whole bunch.</p>
  </div>
  <div class="details">
    <div class="posted">Saturday, December 8, 2018</div>
    <div class="readtime">5 minute read</div>
  </div>
</div>
