<!DOCTYPE html>
<html>
<head>
    <title>Rebecca Pruim - Home</title>
    <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
  <div id="error" class="font">Error 404.<br />File not found.</div>
  <div id="errmsg" class="font">Looks like you're lost.<br />
    Maybe that article was moved or deleted.<br />
    Your guess is as good as mine.<br />
    All I know is that it's not here.<br />
    Maybe a <a class="homelink" href="/journal/">link to the homepage</a> will help.</div>
</body>
</html>
